@font-face {
  font-family: ambre;
  src: url("/images/peaambre.ttf");
}
@font-face {
  font-family: mumble_doodle;
  src: url("/images/peamumbleandjen.ttf");
}
@font-face {
  font-family: krystyne_doodle;
  src: url("/images/peakrystynedoodles.ttf");
}

html {
	font-family: Verdana, sans-serif;
}

body {
  background-image: url("/images/page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;

  margin: 0;
  padding: 0;
  position: relative;
}

dl {
	overflow: hidden;
	margin: 1em 1em 1em 5em;
}
dt {
	float: left;
	clear: left;
	width: 3.5em;
}
dt:after {
	content: " -";
}
dd {
	margin-left: 4em;
}

a {
  color: #cc6600;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#header, h1, h2, h3, h4, h5 {
  font-family: ambre, Verdana;
}

#header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: 100;
}
#header_bar {
  border-bottom: 2px solid #000;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  margin: 0 auto;
}
#header img {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 1em;
}
#header h1 {
	display: inline-block;
  margin: 0 0 0 0;
  padding: .25em .5em .25em .5em;
  font-size: 3.5em;
}

#nav {
  list-style: none;
  margin: 0 auto;
  padding: 0 .5em 1em .5em;
  text-align: center;
}
.nav_tab {
  display: inline-block;

  border-bottom-right-radius: 10px;
  -moz-border-right-bottom-radius: 10px;
  -webkit-border-right-bottom-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-left-bottom-radius: 10px;
  -webkit-border-left-bottom-radius: 10px;
  border-color: black;
  border-style: dotted;
  border-width: 0 2px 2px 2px;
  width: 7em;
}
.nav_tab a {
  font-size: 1.45em;
  padding: .1em 0;
  color: #000;
}  
#home_tab {
  background: #b3cfe3;
}
#words_tab {
  background: #ebbfc6;
}
#eats_tab {
  background: #ccd093;
}
#scraps_tab {
  background: #e4a472;
}
#science_tab {
	background: #b3b3b3;
}
#creds_tab {
  background: #c6b8d2;
}

h2 {
  margin-bottom: .5em;
}
#main {
  padding: 2em;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9em;
  margin-bottom: 5em;
}

#photos {
  padding: 2em 2em;
  margin-bottom: 1em;
  overflow: hidden;
  zoom: 1;
  display: block;
}
#photos .frame {
  /* width:294px; */
  padding:10px 10px 20px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  /* Add box-shadow */
  -webkit-box-shadow:2px 2px 3px #aaaaaa; /* Safari */
  box-shadow:2px 2px 3px #aaaaaa;
}
#photos .rotate_left {
  float:left;
  -ms-transform:rotate(7deg); /* IE 9 */
  -moz-transform:rotate(7deg); /* Firefox */
  -webkit-transform:rotate(7deg); /* Safari and Chrome */
  -o-transform:rotate(7deg); /* Opera */
  transform:rotate(7deg);
}
#photos .rotate_right {
  float:left;
  -ms-transform:rotate(-8deg); /* IE 9 */
  -moz-transform:rotate(-8deg); /* Firefox */
  -webkit-transform:rotate(-8deg); /* Safari and Chrome */
  -o-transform:rotate(-8deg); /* Opera */
  transform:rotate(-8deg);
}
#photos .caption {
  font-family: ambre;
  text-align: center;
}

#signature {
  font-family: ambre;
  text-align: right;
  padding: 0;
  margin: -1.5em 0 0 0;
  float: right;
  -ms-transform:rotate(-7deg); /* IE 9 */
  -moz-transform:rotate(-7deg); /* Firefox */
  -webkit-transform:rotate(-7deg); /* Safari and Chrome */
  -o-transform:rotate(-7deg); /* Opera */
}
#signature .doodle {
  font-family: krystyne_doodle;
  font-size: 1.5em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: ambre;
  padding-top: 2px;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top: 2px solid black;
}

#footer .doodle {
  font-family: mumble_doodle;
  font-size: 2em;
  line-height: 1em;
}

/* iPhone */
@media only screen and (max-device-width: 480px) {
	body {
		-webkit-text-size-adjust:none;
		font-family:Helvetica, Arial, Verdana, sans-serif;
  }
  
  div {
		clear: both !important;
		display: block !important;
		width: 100% !important;
		float: none !important;
		margin: 0 !important;
		padding:0!important;
		position: static !important;
	}
	
	#header {
		position: static !important;
	}
	h1,h2,h3,h4 {
		font-size: 1.5em !important;
	}
	
	#nav li {
		margin: 0 !important;
	}
	#nav li a {
		display: block;
		text-align: center;
	}
	
	#main {
		padding: 0 5px !important;
		width: auto !important;
	}
	
	/* difficult bits for a phone */
	#footer, #photos, #header img {
		display: none !important;
	}
	
	img {
		max-width: 100%;
		height: auto;
	}
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	#header {
		position: static !important;
	}
	#footer {
		display: none !important;
	}
	
	#header h1 {
		font-size: 2em !important;
	}
	
	#main {
		padding: 0 10px !important;
		width: auto !important;
		margin-top: 0 !important;
	}
}