@font-face {
  font-family: ambre;
  src: url("/images/peaambre.ttf");
}
@font-face {
  font-family: mumble_doodle;
  src: url("/images/peamumbleandjen.ttf");
}
@font-face {
  font-family: krystyne_doodle;
  src: url("/images/peakrystynedoodles.ttf");
}

html {
	font-family: Verdana, sans-serif;
}

body {
  background-image: url("/images/page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;

  margin: 0;
  padding: 0;
  position: relative;
}


a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

#header, h1, h2, h3, h4, h5 {
  font-family: ambre, Verdana;
}
#header img {
  vertical-align: middle;
}
#header h1 {
  text-align: center;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0 0 0 0;
  padding: .25em .5em .5em .5em;
  font-size: 4em;
  border-bottom: 2px solid #000;
}

#nav {
  list-style: none;
  margin: 0;
  padding: 0 .5em 1em .5em;
  text-align: left;
  margin-left: 2em;
}
.nav_tab {
  display: inline-block;

  border-bottom-right-radius: 10px;
  -moz-border-right-bottom-radius: 10px;
  -webkit-border-right-bottom-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-left-bottom-radius: 10px;
  -webkit-border-left-bottom-radius: 10px;
  border-color: black;
  border-style: dotted;
  border-width: 0 2px 2px 2px;
}
.nav_tab a {
  font-size: 1.45em;
  padding: .1em 2em .1em 2em;
}  
#home_tab {
  background: #b3cfe3;
}
#words_tab {
  background: #ebbfc6;
}
#eats_tab {
  background: #ccd093;
}
#scraps_tab {
  background: #e4a472;
}
#creds_tab {
  background: #c6b8d2;
}

h2 {
  margin-bottom: 2em;
}
#main {
  padding: 2em;
  margin-bottom: 5em;
  width: 900px;
  margin: 0 auto;
}

#photos .frame {
  /* width:294px; */
  padding:10px 10px 20px 10px;
  border:1px solid #BFBFBF;
  background-color:white;
  /* Add box-shadow */
  -webkit-box-shadow:2px 2px 3px #aaaaaa; /* Safari */
  box-shadow:2px 2px 3px #aaaaaa;
}
#photos .rotate_left {
  float:left;
  -ms-transform:rotate(7deg); /* IE 9 */
  -moz-transform:rotate(7deg); /* Firefox */
  -webkit-transform:rotate(7deg); /* Safari and Chrome */
  -o-transform:rotate(7deg); /* Opera */
  transform:rotate(7deg);
}
#photos .rotate_right {
  float:left;
  -ms-transform:rotate(-8deg); /* IE 9 */
  -moz-transform:rotate(-8deg); /* Firefox */
  -webkit-transform:rotate(-8deg); /* Safari and Chrome */
  -o-transform:rotate(-8deg); /* Opera */
  transform:rotate(-8deg);
}
#photos .caption {
  font-family: ambre;
  text-align: center;
}

#signature {
  font-family: ambre;
  clear: both;
}
#signature .doodle {
  font-family: krystyne_doodle;
  font-size: 1.5em;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: ambre;

  padding-top: 1em;
}

#footer .doodle {
  font-family: mumble_doodle;
  font-size: 2em;
}
