<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27099266-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="header_bar">
          <img width="150" src="/images/lilypad.png" class="pad flip">
          <img width="150" src="/images/frog.png" alt="Frog" class="frog flip">
          <h1>petersen pad</h1>
          <img width="150" src="/images/frog.png" alt="FrogR" class="frog">
          <img width="150" src="/images/lilypad.png" class="pad">
        </div>
        <ul id="nav">
          <li id="home_tab" class="nav_tab"><a href="/">home</a></li>
          <li id="words_tab" class="nav_tab"><a href="/words">words</a></li>
          <li id="eats_tab" class="nav_tab"><a href="/eats">eats</a></li>
          <li id="scraps_tab" class="nav_tab"><a href="/scraps">scraps</a></li>
          <li id="science_tab" class="nav_tab"><a href="/science">science</a></li>
          <li id="creds_tab" class="nav_tab"><a href="/creds">creds</a></li>
        </ul>
      </div>
      <div id="main">
        {{content}}
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <span class="doodle">D</span>
      Scott &amp; Katie {2011-2014}
    </div>
  </body>
</html>
