<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
    <meta name="viewport" content="width=1100">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div id="header">
    	<div id="header_bar">
				<img width="150" src="/images/dropshadow_shell.png">
				<h1>the world's my oyster</h1>
				<img width="150" src="/images/dropshadow_shell_right.png">
      </div>
      <ul id="nav">
        <li id="home_tab" class="nav_tab"><a href="/">home</a></li>
        <li id="words_tab" class="nav_tab"><a href="/words">words</a></li>
        <li id="eats_tab" class="nav_tab"><a href="/eats">eats</a></li>
        <li id="scraps_tab" class="nav_tab"><a href="/scraps">scraps</a></li>
        <li id="science_tab" class="nav_tab"><a href="/science">science</a></li>
        <li id="creds_tab" class="nav_tab"><a href="/creds">creds</a></li>
      </ol>
    </div>
    <div id="main">
      {{content}}
    </div>
    <div id="footer">
      <span class="doodle">D</span>
      Scott &amp; Katie {2011}
    </div>
  </body>
</html>
