<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="header">
      <h1>
        <img height="100" src="/images/starfish.png">
        the world's my oyster
        <img height="100" src="/images/starfish.png">
      </h1>
      <ul id="nav">
        <li id="home_tab" class="nav_tab"><a href="/">Home</a></li>
        <li id="words_tab" class="nav_tab"><a href="/words">Words</a></li>
        <li id="eats_tab" class="nav_tab"><a href="/eats">Eats</a></li>
        <li id="scraps_tab" class="nav_tab"><a href="/scraps">Scraps</a></li>
        <li id="creds_tab" class="nav_tab"><a href="/creds">Creds</a></li>
      </ol>
    </div>
    <div id="main">
      {{content}}
    </div>
  </body>
</html>
